header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 160, 252);
    color: #fff;
}

header ul {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    font-weight: 700;

}

header ul li{
    list-style-type: none;
}

.Cart img{
    margin-top: 5px;
    width: 50px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #000;
}